* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: rgb(252, 252, 252);
    margin: 5%;
    margin-top: 2%;
    
}

#in-head {
    font-size: 60px;
    background-color: rgb(243, 243, 243);
    padding: 30px;
    box-shadow: 5px 7px rgb(223, 222, 222);
    border-radius: 10px;
    font-family:;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    word-spacing: 8px;
    
}

#head-pic{
    height: auto;
    width: 150px;
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
    border-color: black;
    border-width: 10px;
    border-style: double;
    
}

#head-text{
    margin: auto;
    position: relative;
    
    display: block;
}